<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>ALL MOVIES</h1>


<div>
{% if perms.Netflix %}
    <p>You have permission to do something in the Netflix app.</p>
    {% if perms.netflix.view_movie %}
        <p>You can view the movie!</p>
    {% endif %}
    {% else %}
    <p>You don't have permission to do anything in the Netflix app.</p>
{% endif %}
</div>


    <ul>
        {% for movie in movies %}
        <img src="{{ movie.poster.url }}" alt="">
        <div>
            Movie name: {{ movie.title }}<br>
            Movie desc: {{ movie.overview }}<br>
            {% for category in movie.categories.all %}
            Movie category: {{ category.name }}
            {% endfor %}
        </div>
        {% endfor %}
    </ul>
</body>
</html>